.sideBar
  .sideBar-list
    .sideBar-list__group
      グループ名
    .sideBar-list__message
      コメント
  .sideBar-list
    .sideBar-list__group
      グループ名
    .sideBar-list__message
      コメント
  .sideBar-list
    .sideBar-list__group
      グループ名
    .sideBar-list__message
      コメント